body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.app {
  padding: 20px;
}

.loading-container,
.profiles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.loading-container {
  height: 100vh;
  align-items: center;
}

.profile-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 20px;
  margin: 20px;
  text-align: center;
}

.avatar {
  width: 120px;
  height: 140px;
  border-radius: 50%;
  margin-bottom: 10px;
}

h2 {
  margin: 0;
}

p {
  margin: 5px 0;
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.action-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size:  20px;
  margin: 0 5px;
}

.action-button.liked {
  color: red;
}

.modal {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal h2 {
  margin-top: 0;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 5px;
}

button[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  border: none;
  outline: none;
  padding: 8px 15px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

@media (max-width: 768px) {
  .profile-card {
    width: 100%;
    margin: 10px;
  }
}

/*CSS code for loading indication*/

.spinner {
  width: 100px;
  height: 100px;
  background-color: black;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}